#scrolllist{
  display: flex;
  gap:10px;
  overflow-x: scroll;
}
#scrolllist::-webkit-scrollbar{
  display: none;
}
#scrolllist{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
img{
  height: 50px;
}
section[role='navigation']{
  display:flex;
  align-items: center;
}
