.sign_up_form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     padding: 5rem;
     background-color: rgb(129, 39, 141);
     border-radius: 20px;
}
input, button{
    line-height: 30px;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    border: 1px darkblue;
}